.caption{
    margin-top: 20px;
    padding-top: 23px;
}
table{
    border: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;

}
tbody{
    height: 600px;
}
th{
    font-size: 21px;
}
table, th{
    text-align: center;
    border: 1px solid #000000;
    height: 30px;
}
