.main-subscribe {
    margin: 20px;
    padding-top: 29px;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;

}

.main-subscribe-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
    width: 47%;
}
.main-subscribe-form-text{
    margin-top: 7px;
    margin-right: 7px;
}
.main-subscribe-form-text h2{
    color: #11c2e1;
}
.main-subscribe-form {
    margin-top: 5px;
    width: 21%;
}

.form-text {
    width: 163px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: #f3f3f3;
    padding-left: 10px;
    height: 55px;
    border: 1px solid #000000;
}

.form-text::placeholder {
    color: #000000;
    opacity: 0.6;
}

table{
    border: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;

}
tbody{
    height: 600px;
}
th{
    font-size: 21px;
}
table, th{
    text-align: center;
    border: 1px solid #000000;
    height: 30px;
}

