
html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f1f1f1;
}
.wrapper {
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

header {
    margin: 0;
    background-color: #000000;
    background-size: cover;
    height: 60px;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.header-logo img{
    height: 40px;
    width: 200px;
    padding-top: 10px;
    padding-left: 40px;
}
.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation  nav  {
    margin-top: -55px;
    position: absolute;
}

.topmenu a:hover{
    color: #232b61;
}
.submenu a:hover{
    color: #11c2e1;
}
.navigation-menu li {
    display: block;
    float: left;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.topmenu > li:last-child {
    margin-right: 0;
}
.topmenu a {
    color: white;
    font-size: 18px;
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.submenu a{
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}

.submenu li{
    margin: -10px;
}
.fa {
    color: inherit;
    padding-left: 10px;
}
.submenu {
    margin-top: -10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.navigation-menu .submenu {
    display: none;
    background: #000000;
}
.navigation-menu ul li:hover .submenu {
    display: block;

}


main{
    margin: 0;

    height: 700px;
    width: 100%;
    position: relative;

}
.wrapper_main {
    margin: 0 auto;
    width: 940px;
    background: #fff;
    padding: 0 20px;
}
.wrapper_main{
    margin-top: -20px;
}


.main-subscribe {
    margin: 20px;
    padding-top: 50px;

    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;

}

.main-subscribe-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
    width: 40%;
}

.main-subscribe-form {
    width: 600px;
}

.form-text {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: #f3f3f3;
    padding-left: 40px;
    width: 74%;
    height: 55px;
    border: 1px solid #000000;
}

.form-text::placeholder {
    color: #000000;
    opacity: 0.7;
}

.submit-btn {
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
    width: 100px;
    height: 59px;
    border: none;
    background-color: #343638;
}

.main-subscribe-form button {
    margin-left: -4px;
}

.main-subscribe-form button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: #B7C8D9;
}




footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;


}

.footer-end-copyright{
    color: #ffffff;
    font-family: sans-serif;
}